<div class="card" style="500px">
    <div class="addFriend_section">
        <h4>Ajouter un(e) ami(e)</h4>
        <input type="text" placeholder="Chercher un(e) ami(e)" [ngModel]='text' (ngModelChange)="onChange($event)">
        <ul>
            <li *ngFor="let show of searchResult" (click)="showDetails(show)" [hidden]="toggle">
                <p> {{ show.firstname }}</p>
            </li>
        </ul>
    </div>


    <p-table class="friendsTable" *ngIf="friendList?.length > 0" [value]="friendList" [paginator]="true" [rows]="5"
        [totalRecords]="friendList?.length" [showCurrentPageReport]="true"
        currentPageReportTemplate=" {first} of {totalRecords} " [rowsPerPageOptions]="[10, 20, 30]">
        <ng-template pTemplate="header">
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
            </tr>
        </ng-template>

    </p-table>
</div>