<form class="custom_form"  name="form" (ngSubmit)="onLogin()" #f="ngForm" novalidate>
    <div class="form-group custom_div">
            <mat-icon aria-hidden="false" class="custom_icon" fontIcon="mail"></mat-icon>
        <input type="text" class="form-control" name="email" [(ngModel)]="email" required   placeholder="Email"
           />
      
    </div>
    <div class="form-group">
            <mat-icon aria-hidden="false" class="custom_icon" fontIcon="password"></mat-icon>
        <input placeholder="Password" type="password" class="form-control" name="password" [(ngModel)]="password" required 
           />
       
    </div>
    <div class="form-group">
        <button  type="submit" class="btn btn-primary btn-block">
            Login
        </button>
    </div>
    <div class="form-group">
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
            Login failed: {{ errorMessage }}
        </div>
    </div>
</form>


