<div >
            <form class="custom_form" *ngIf="!isSuccessful" name="form" (ngSubmit)="onRegister()" #f="ngForm" novalidate>
                <div class="form-group custom_div">
                    <mat-icon aria-hidden="false" class="custom_icon" fontIcon="person"></mat-icon>
                    <input type="text" class="form-control" name="firstName" [(ngModel)]="firstName" required placeholder="Firstname"
                       />
                   
                </div>
                <div class="form-group custom_div">
                    <mat-icon aria-hidden="false" class="custom_icon" fontIcon="person"></mat-icon>
                    <input type="text" class="form-control" name="lastName" [(ngModel)]="lastName" required  placeholder="Lastname"
                        />
                   
                </div>
                <div class="form-group custom_div">
                    <mat-icon aria-hidden="false" class="custom_icon" fontIcon="mail"></mat-icon>
                    <input type="email" class="form-control" name="email" [(ngModel)]="email" required placeholder="Email"
                        />
                 
                </div>
                <div class="form-group custom_div">
                    <mat-icon aria-hidden="false" class="custom_icon" fontIcon="password"></mat-icon>
                    <input type="password" class="form-control" name="password" [(ngModel)]="password" required placeholder="Password"
                        minlength="6" />
            
                </div>
                <div class="form-group custom_div">
                    <mat-icon aria-hidden="false" class="custom_icon" fontIcon="password"></mat-icon>
                    <input type="repassword" class="form-control" name="repassword" [(ngModel)]="repassword" required placeholder="Re-Password"
                        minlength="6" />
                   
                </div>
                <div class="form-group ">
                    <button  type="submit" class="btn btn-primary btn-block">Sign Up</button>
                </div>
    
                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                    Signup failed!<br />{{ errorMessage }}
                </div>
            </form>
    
            <div class="alert alert-success" *ngIf="isSuccessful">
                Your registration is successful!
            </div>

            <div >
            <button  [routerLink]="['/logout']" >Login</button>
            </div>
    </div>