<div class="container">
    <div class="custom_grid">
        <div>
            <h4> Gestion IBAN</h4>
            <div *ngIf="!iban">
                <form class="addCustomForm" name="form" (ngSubmit)="addIban()" [formGroup]="ibanForm" novalidate>
                    <label for="iban">Ajouter un IBAN &nbsp; </label>
                    <input type="text" class="form-control" name="iban" formControlName="iban" required
                        placeholder="Numero IBAN " />
                    <button type="submit">Ok</button>
                </form>
                <div *ngIf="addIbanFailed" class="alert" role="alert">
                    {{ errorMessage }}
                </div>
            </div>
            <div *ngIf="iban">
                <table class="sectionIban">
                    <thead>
                        <tr>
                            <th>Iban</th>
                            <th>Solde</th>
                            <th>Editer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ userAccount.iban}}</td>
                            <td>{{ userAccount.balance}}</td>
                            <td><button type="submit"><mat-icon aria-hidden="false" class="custom_icon"
                                        fontIcon="create"></mat-icon>
                                </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="gestionArgent">
            <h4> Gestion argent</h4>
            <form #chargerForm="ngForm" (ngSubmit)="charger(chargerForm)">
                <fieldset>
                    <div>
                        <input type="radio" id="charger" value="charger" [ngModel]="envoyer" checked name="envoyer" />
                        <label for="charger">Charger account</label>
                    </div>
                    <div>
                        <input type="radio" id="transfert" value="transfert" [ngModel]="envoyer" name="envoyer" />
                        <label for="transfert">Transferer sur mon banque</label>
                    </div>
                </fieldset>
                <input type="text" class="balance" name="balance" [(ngModel)]="balance" required placeholder="Amount"
                    name="balance" [ngModel]="balance" /> <br>
                <button [disabled]="chargerForm.invalid" type="submit">Valider</button>
            </form>
            <div *ngIf="chargerFailed" class="alert" role="alert">
                {{ errorMessage }}
            </div>
        </div>
    </div>

    <app-friend [friendList]="userFriendList" [allUser]="allUser"></app-friend>


</div>