.friendsTable,
th,
td {
  border: 1px solid #58af9b;
  border-collapse: collapse;
  padding-left: 10px;
  text-align: left;
}

.friendsTable {
  width: 100%;
  tr {
    th {
      min-width: 80px;
      height: 50px;
    }
    td {
      height: 30px;
      border-top: none;
    }
  }
}
